<div id="<%= dom_id message %>">
  <p>
    <strong>Matchid:</strong>
    <%= message.matchID %>
  </p>

  <p>
    <strong>Senderid:</strong>
    <%= message.senderID %>
  </p>

  <p>
    <strong>Receiverid:</strong>
    <%= message.receiverID %>
  </p>

  <p>
    <strong>Messagetext:</strong>
    <%= message.messageText %>
  </p>

  <p>
    <strong>Messagetimestamp:</strong>
    <%= message.messageTimestamp %>
  </p>

</div>
