<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Profile</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to profiles_path, class: button_class(theme: "transparent") do %>
      All Profiles
      <% end %>
      <%= link_to edit_profile_path(@profile), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">User:</p>
        <p><%= @profile.user %></p>
      </li>
      <li>
        <p class="font-semibold">First name:</p>
        <p><%= @profile.first_name %></p>
      </li>
      <li>
        <p class="font-semibold">Last name:</p>
        <p><%= @profile.last_name %></p>
      </li>
      <li>
        <p class="font-semibold">Bio:</p>
        <p><%= @profile.bio %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @profile.phone %></p>
      </li>
  </ul>
</div>
