<%= form_with(model: membership) do |form| %>
<% if membership.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% membership.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :TypeMem, class: label_class %>
          <%= form.text_field :TypeMem, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :price, class: label_class %>
          <%= form.text_field :price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_area :description, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if membership.persisted? %>
<%= link_to "Cancel", membership, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", memberships_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
