<div id="<%= dom_id usertable %>">
  <p>
    <strong>Typemem:</strong>
    <%= usertable.TypeMem %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= usertable.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usertable.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= usertable.password %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= usertable.active %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= usertable.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= usertable.gender %>
  </p>

  <p>
    <strong>Image:</strong>
    <p>No Image</p>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= usertable.bio %>
  </p>

</div>
