<div id="<%= dom_id swipe %>">
  <p>
    <strong>Swiperuserid:</strong>
    <%= swipe.SwiperUserID %>
  </p>

  <p>
    <strong>Swipeduserid:</strong>
    <%= swipe.SwipedUserID %>
  </p>

  <p>
    <strong>Swipetype:</strong>
    <%= swipe.SwipeType %>
  </p>

  <p>
    <strong>Swipetimestamp:</strong>
    <%= swipe.SwipeTimestamp %>
  </p>

</div>
