<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Swipe</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to swipes_path, class: button_class(theme: "transparent") do %>
      All Swipes
      <% end %>
      <%= link_to edit_swipe_path(@swipe), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Swiperuserid:</p>
        <p><%= @swipe.SwiperUserID %></p>
      </li>
      <li>
        <p class="font-semibold">Swipeduserid:</p>
        <p><%= @swipe.SwipedUserID %></p>
      </li>
      <li>
        <p class="font-semibold">Swipetype:</p>
        <p><%= @swipe.SwipeType %></p>
      </li>
      <li>
        <p class="font-semibold">Swipetimestamp:</p>
        <p><%= @swipe.SwipeTimestamp %></p>
      </li>
  </ul>
</div>
