<%= form_with(model: match) do |form| %>
<% if match.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% match.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :User1ID, class: label_class %>
          <%= form.number_field :User1ID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :User2ID, class: label_class %>
          <%= form.number_field :User2ID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :MatchTimestamp, class: label_class %>
          <%= form.datetime_field :MatchTimestamp, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if match.persisted? %>
<%= link_to "Cancel", match, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", matches_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
